@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('OpenSans-Light.woff2') format('woff2'), url('OpenSans-Light.woff2') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('OpenSans.woff2') format('woff2'), url('OpenSans.woff2') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('OpenSans-Semibold.woff2') format('woff2'), url('OpenSans-Semibold.woff2') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('OpenSans-Bold.woff2') format('woff2'), url('OpenSans-Bold.woff2') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('OpenSans-Italic.woff2') format('woff2'), url('OpenSans-Italic.woff2') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('SourceSansPro-Light.woff2') format('woff2'), url('SourceSansPro-Light.woff2') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('SourceSansPro-Regular.woff2') format('woff2'), url('SourceSansPro-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('SourceSansPro-Semibold.woff2') format('woff2'), url('SourceSansPro-Semibold.woff2') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('SourceSansPro-Bold.woff2') format('woff2'), url('SourceSansPro-Bold.woff2') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url('SourceSansPro-It.woff2') format('woff2'), url('SourceSansPro-It.woff2') format('woff');
}
