@media (max-width: 767px) {
  .page-heading small{font-size:12px;}
}

.table-slick{
	height:510px; overflow:hidden;
}
.dashboard-table-responsive{
	height:auto; overflow:hidden;
}

@media (min-width: 768px) {
	.dashboard-table-responsive{
		height:350px; overflow:auto;
	}
}
.msgInfo{width:95%;margin:auto;}
.img-container .img-options{opacity:1;visibility:visible;}
.img-responsive{}
.img-container{}
.element-item{width:30%;}

.label-gray {
  background-color: #c9c9c9;
}
.img-avatar.fingerprint{
   border-radius: 50%;
   display: inline-block !important;
   height: 256px;
   width: 256px;
}
.videoContainer video 
{
	width: 100%;
	height:auto;
}

/*.table-fixed*/
table.dataTable thead > tr > th{
	padding-left: 5px;
    padding-right: 5px;
}


.dropzone{
	min-height:130px;
}

.upload_preview{
	overflow:hide;
	height:160px;
}

.upload_preview img{
	border:1px solid #d8d8d8;
	width:160px;
}

.upload_button_area{
	padding:0px 10px;
}

.side-content{
	padding:13px 20px 24px;
}

.login-page div.content{
	padding: 100px 30px 1px;
}